.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #f2f2f3;
}
.price {
  display: flex;
  align-items: center;
}

.name {
  text-align: center;
  min-height: 48px;
}
