.app__layout {
  margin: auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;

  justify-items: center;
}
.main {
  display: flex;
  margin: 0 40px;
  gap: 40px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px auto 0;
}
