.header {
  max-width: 1280px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  box-sizing: border-box;
}

.list {
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 8px;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}

.list__item {
  display: flex;
  column-gap: 8px;
}

.profile {
  composes: list__item;
  justify-self: end;
}
